@media (max-width:1400px) and (min-width:1139px)
{
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: 99%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 5;
   background: #A1FFCE;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                 }
}
@media (max-width:1139px) and (min-width: 940px)
{
	html,
	body
	{
		margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	    overflow-y: auto;
	    overflow-x: hidden;
	    height: 99%;
	}

	canvas[resize]
	{
		    width: 100%;
    height: 50%;
    position: relative;
    z-index: 5;
   background: #A1FFCE;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}
